html,
body {
  height: 100%;
  }

body {
  margin: 0;
  padding: 0;
  position: relative;
  background: var(--bs-body-bg);
  color: var(--bs-dark-text);
}
.table td{
  border-top: 0;
}
#app {
  font-size: 1vw;
  min-width: 800px;
  user-select: none;
}

.main-contain-item {
  /* border: 1px solid black; */
  width: 100%;
  height: auto;
}

td,
th {
  border: 0;
}

tr {
  border-bottom-width: var(--bs-border-width);
}

.main-contain {
  display: flex;
  height: max-content;
}
