.profile-image {
  background-image: url('../defaultImg.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 15vmin;
  height: 15vmin;
  object-fit: cover;
  border: 0.1vmin solid var(--bs-body-color);
  box-shadow: 2px 2px 1px var(--bs-dark-text);
  border-radius: 100%;
  overflow-block: hidden;
  margin: 10px 0 10px 0;
}
.toggle-btn {
  position: absolute;
  left: 2%;
  top: 50%;
  z-index: 101;
}
.img-toggle {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3vmin;
  height: 3vmin;
  color: var(--bs-dark-bg);
  background-color: var(--bs-secondry-bg-subtle);
  border-radius: 100%;
  border: 1px solid var(--bs-dark-text);
  user-select: none;
  cursor: pointer;
  transition: 0.7s;
}

.img-toggle::before {
  content: attr(btn-text);
}
.img-toggle:hover {
  cursor: pointer;
  background-color: var(--bs-dark-text);
  color: var(--bs-light-bg-subtle);
}

.show {
  display: block;
  height: 100vh;
  transition: 0.4s;

  max-height: 100vh;
  transform: translate3d(0, 0, 0);
  overflow-x: hidden;
}
.hide {
  display: block;
  overflow-x: hidden;
  width: 0px;
  transition: all 0.7s;
  left: -100%;
}
.side-item {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 20px;
  width: auto;
  word-break: keep-all;
  font-size: 1rem;
}

.side-item-btn {
  cursor: pointer;
}

.side {
  transition: 0s;
  background-color: var(--bs-light-bg-subtle);
}
